.places {
    border: 0;

}

.places h1 {
    font-size: 30px;
    margin: 30px 0 -10px 0;
}

.articles {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    margin: 20px 25px 5px 0px;
    padding: 20px;
    border: solid #FF5A5F 1px;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}

.places h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}